RewriteEngine On
RewriteRule ^en/blog/problems_and_solutions.html$ https://corgras-oc.github.io/en/faq [L,R=301]
RewriteRule ^en/docs/custom_templates/index.html$ https://corgras-oc.github.io/en/docs/custom_templates [L,R=301]
RewriteRule ^product.html$ https://corgras-oc.github.io/extensions [L,R=301]
RewriteRule ^ua/product.html$ https://corgras-oc.github.io/ua/extensions [L,R=301]
RewriteRule ^ua/services.html$ https://corgras-oc.github.io/ua/services [L,R=301]
RewriteRule ^docs/reply_to_reviews$ https://corgras-oc.github.io/docs/reply_to_reviews [L,R=301]
RewriteRule ^docs/html_pro/index_ru.html$ https://corgras-oc.github.io/docs/html_pro [L,R=301]
RewriteRule ^docs/extra_description_category/$ https://corgras-oc.github.io/docs/additional_description_categories [L,R=301]
RewriteRule ^docs/reply_to_reviews/index_ru.html$ https://corgras-oc.github.io/docs/reply_to_reviews [L,R=301]
RewriteRule ^en/demo.html$ https://corgras-oc.github.io/ [L,R=301]
