*{}

::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.3);background-color:#212528}
::-webkit-scrollbar{width:10px;background-color:#212528}
::-webkit-scrollbar-thumb{background-color:#fdd335}

*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;-ms-overflow-style:scrollbar}

html,body{height:100%;font-size:10px;font-family: 'HelveticaNeueCyr';}
body{background:#fff;color:#212528}
a{color:#fdd335;text-decoration:none}
a:hover,a:focus,a:active{text-decoration:none;color:#fff}


.g-carousel{position:absolute;top:0;z-index:1}
.flex-container {
	position:relative;
	z-index:100;
	height:100vh;
	top:0;
	font-size:1.3rem;
}

/*HOME*/
body.home{height:100vh;background:#212528;color:#fff}

header{padding:3rem 1.5rem 1.5rem}
/*LOGO*/
.g-logo{
	height:50px;
}

/*MENU*/
.g-navigations{
	height:50px;
	display:flex;
	justify-content: flex-end;
    align-items: center;
}
.g-navigation {
    position: relative;
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}
.main-menu {
    padding: 0;
    margin: 0;
}
.main-menu > li {
	position: relative;
	display: inline-block;
	line-height: normal;
}
.main-menu li a {
	display: inline-block;
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-weight: 400;
	letter-spacing: 1px;
	padding: .5rem 1rem;
	opacity: 1;
	text-transform: uppercase;
	-webkit-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
	color: #212528;
}
.home .main-menu li a{color: #fff;}
.main-menu li:hover a, .main-menu li:focus a, .main-menu li.active a {
	opacity: 1;
	color:#fdd335;
	text-decoration:none;
}



/*LANG*/
.g-lang{position:relative}
.g-language-nav {
	position: relative;
	display: block;
	width: 34px;
	margin-left: 15px;
}
.g-language-nav a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	padding:0;
	background-color: transparent;
	-webkit-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: #212528;
}
.home .g-language-nav a {color: #fff;border: 1px solid rgba(255, 255, 255, 0.4);}
.g-language-nav a:hover {
	border: 1px solid #fdd335;
	background-color: #fdd335;
	color: #212528;
}
.g-language-nav .language-content {
	position: absolute;
	top: calc(100% + 25px);
	right: 0px;
	left: 0px;
	list-style: none;
	display: none;
	padding:0;
	z-index:999;
		transition: all 0.3s ease-in;
}
.g-language-nav .language-content li {
	margin-bottom: 10px;
}
/*BREADCRUNBS*/
.g-breadcrumbs{
	display:block;
	height:100%;
	writing-mode:vertical-lr;
}
.g-breadcrumbs .g-breadcrumb{
	padding:3rem 0;
	margin:auto;
	transform:rotate(180deg);
    display:block;
	letter-spacing: 1px;
	font-size:1.3rem;
	font-weight:400;
}
.g-breadcrumbs .g-breadcrumb span:before{
	display:inline-block;
	margin:1rem 0;
	content:'';
	width:1px;
	height:70px;
	background:#212528;
}
.home .g-breadcrumbs .g-breadcrumb span:before{background:#fff;}
/*CONTENT*/
main{padding:0 1.5rem;}
.home main{height:calc(100% - 170px);padding:0 1.5rem;}
.g-contents{}

/*FOOTER*/
footer{height:75px;padding:1.5rem 1.5rem 3rem;}
.g-footer{height:30px;}

.g-copyright{
	line-height: 30px;
    letter-spacing: 1px;
    color: #212528;
}
.home .g-copyright{color:#fff}
.g-social .social-content {
	display: block;
	margin-bottom: 0;
	text-align: right;
}
.g-social .social-content li {
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 11px;
	display: inline-block;
}
.g-social .social-content li a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 12px;
	line-height: 28px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	color: #212528;
	-webkit-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}
.g-social .social-content li a:hover {
	border: 1px solid #212528;
	background-color: #212528;
	color: #fff;
}
.g-social .social-content li a i {
	line-height: 28px;
}

.home .g-social .social-content li a {border: 1px solid rgba(242, 242, 242, 0.4);
	color: #fff;}
.home .g-social .social-content li a:hover{border: 1px solid #fff;
	background-color: #fff;}


/*CAROUSEL*/
.carousel {
    position: relative;
    width: 100%;
}
.carousel-caption{
	text-align: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: none;
}
.g-carousel .carousel-inner, .g-carousel .carousel-item {
	height: 100vh !important ; 
}
.carousel-caption-overlay{
	background:rgba(33, 37, 40, 0.8);
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	top:0
}

/*CAROUSEL EFFECT*/
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}
.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
	opacity: 0;
}
.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

/*CAROUSEL TEXT*/

.g-carousel-content{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.carousel-item .title{
	opacity: 0;
	font-size: 4em;
	font-weight:200;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	-o-transition: 2s;
	transform: translateY(-50px);
	-webkit-transform:  translateY(-50px);
	-moz-transform:  translateY(-50px);
	-ms-transform:  translateY(-50px);
	-o-transform:  translateY(-50px);
	letter-spacing:1px;
}
.carousel-item.active .title{
	opacity: 1.5;
	transform: translateY(0px);
	-webkit-transform:  translateY(0px);
	-moz-transform:  translateY(0px);
	-ms-transform:  translateY(0px);
	-o-transform:  translateY(0px);
}
.carousel-item .subtitle{
	opacity: 0;
	font-size:2.5rem;
	margin:1.5rem 0 3rem;
	font-weight:300;
	letter-spacing:1px;
	-webkit-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
}
.carousel-item.active .subtitle{
	opacity: 1;
}
.carousel-item .show2{
	opacity: 0;
	transition: 1.5s;
	-webkit-transition: 1.5s;
	-moz-transition: 1.5s;
	-ms-transition: 1.5s;
	-o-transition: 1.5s;
	-webkit-transform:  translateY(50px);
	-moz-transform:  translateY(50px);
	-ms-transform:  translateY(50px);
	-o-transform:  translateY(50px);
}
.carousel-item.active .show2{
	opacity: 1;
	transform: translateY(0px);
	-webkit-transform:  translateY(0px);
	-moz-transform:  translateY(0px);
	-ms-transform:  translateY(0px);
	-o-transform:  translateY(0px);
}

.a-btn{
	border: 1px solid #fdd335;
    width: 50%;
    display: inline-block;
    padding: 1.4rem;
    text-align: center;
    font-size: 1.6rem;
	letter-spacing:1px;
    font-weight:300;
	cursor: pointer;
	-webkit-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
	transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
}
.a-btn:hover {
	border: 1px solid white;
	color: #fff;
}

/*NAV CAROUSEL*/
.g-nav-carousel{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}
.left,.right{
	position:relative;
	display: block;
    height: 20px;
	margin:0 2rem;
}
.glyphicon-right {
	display: block;
	position: relative;
	top:10px;
	width: 70px;
	height: 1px;
	background-color: #fff;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.glyphicon-right:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 1px;
	background-color: #fff;
	transform: rotate(-45deg);
	transform-origin: 100% 0%;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.glyphicon-right:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 1px;
	background-color: #fff;
	transform: rotate(45deg);
	transform-origin: 100% 0%;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.glyphicon-left {
	display: block;
	position: relative;
	width: 70px;
	top:10px;
	height: 1px;
	background-color: #fff;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.glyphicon-left:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0px;
	width: 10px;
	height: 1px;
	background-color: #fff;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.glyphicon-left:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 1px;
	background-color: #fff;
	transform: rotate(-45deg);
	transform-origin:0% 0%;
	-webkit-transition:background-color 0.3s ease-in;
	-o-transition:background-color 0.3s ease-in;
	transition:background-color 0.3s ease-in;
}
.left:hover .glyphicon-left, .left:hover .glyphicon-left:after, .left:hover .glyphicon-left:before,
.right:hover .glyphicon-right, .right:hover .glyphicon-right:after, .right:hover .glyphicon-right:before{
	background-color:#fdd335
}
/*==================================================================================*/


h1{font-size: 3em;
	font-weight:200;letter-spacing:1px}

.g-line{
	position:absolute;
	content:'';
	width:100%;
	left:-15px;
	top:25px;
	height:1px;background:#212528
}










.image{  width:100%;text-align:center}
.image img{margin:auto;text-align:center}
.name{text-align:center;font-size:2.2rem;}
.sub{text-align:center;font-size:1.6rem;}