@media only screen and (min-width:1200px){
	.item>.container>.row{margin:0px;}
	.item{padding:0px;}
	.item .container{webkit-box-shadow:none;box-shadow:none;border:0;padding:1.25rem;font-weight:400;border-radius:.25rem;}
	.item .m-name,.item .m-ver,.item .m-desc,.item .m-read,.item .m-price{padding:0;}
	.item .m-name{order:1;}
	.item .m-name h3{margin:0;font-size:30px;text-align:left;}
	.item .m-name h3 strong{display:inline-block}
	.item .m-ver{order:2;display:block;}
	.item .m-ver span{display:inline-block;text-align:center;font-size:14px;padding:10px 0 0;font-size:14px;}
	.item .m-ver span:first-child{float:left}
	.item .m-ver span:last-child{float:right}
	.item .m-desc{order:3;height:140px;text-align:left;border-top:1px solid rgba(0,0,0,.1);margin:10px 0;padding-top:10px;padding-bottom:10px;font-size:14px;overflow:hidden;border-bottom:1px solid rgba(0,0,0,.1);display:flex;width:100%;flex-direction:column;justify-content:center;}
	.item .m-desc p{margin:0;padding:0}
	.item .m-read{order:6;text-align:right;flex:0 0 50%}
	.item .m-read a{padding:0;background:none;color:var(--tertiary-color);text-transform:uppercase;font-size:15px;font-weight:400;margin:2px 0 0}
	.item .m-price{order:5;text-align:left;margin:0!important;flex:0 0 50%;font-size:15px;font-weight:500;text-transform:uppercase;}
	.item .m-desc .prices{font-weight:500!important;color:var(--tertiary-color);font-size:15px;text-align:left}
	.item .m-desc .prices .price{font-weight:500!important;color:#333;font-size:15px;text-align:right}
	.item .m-desc .prices i{color:#333;font-size:14px;padding-left:3px}
	.numcounters .numcounter{margin:0;}
	footer .copyright{text-align:left;margin-top:0px;}
	footer .info a{display:inline-block;text-align:right}
	footer .info a::before{display:inline-block;width:1px;background:var(--fifth-color);content:'';height:16px;margin:0 7px;top:4px;position:relative;}
	footer .info a:first-child::before{display:none;}
	
	.documentation p{margin-bottom:0;text-align:left;}
}
@media only screen and (min-width:768px) and (max-width:1199px){
	.item .container{border:0;padding:1.25rem;font-weight:400;border-radius:.25rem;}
	.item .m-name h3{margin:0;}
	.item .m-ver{display:block;}
	.item .m-ver span{display:inline-block;text-align:center;}
	.item .m-ver span:first-child{float:left}
	.item .m-ver span:last-child{float:right}
	.item .m-desc{order:3;overflow:hidden;}
	.item .m-read{order:6;text-align:right;flex:0 0 50%}
	.item .m-read a{padding:0;background:none;color:var(--tertiary-color);text-transform:uppercase;font-weight:500;margin:0}
	.item .m-price{order:5;text-align:left;margin:0!important;flex:0 0 50%;text-transform:uppercase;}
	.item .m-price .price{font-weight:400!important;color:var(--tertiary-color);text-align:left}
	.item .m-price i{color:var(--tertiary-color);padding-left:3px}
	.numcounters .numcounter{margin:0;}
	footer .copyright{text-align:left;margin-top:0px;}
	footer .info a{display:inline-block;text-align:right}
}
@media only screen and (min-width:992px) and (max-width:1199px){
	.item>.container>.row{margin:0px;}
	.item{padding:0px;}
	.item .container{webkit-box-shadow:none;box-shadow:none;}
	.item .m-name,.item .m-ver,.item .m-desc,.item .m-read,.item .m-price{padding:0;}
	.item .m-name{order:1;}
	.item .m-name h3{font-size:24px;text-align:left;}
	.item .m-name h3 strong{display:inline-block}
	.item .m-ver{order:2;}
	.item .m-ver span{font-size:14px;padding:5px 0 0;}
	.item .m-desc{height:108px;text-align:left;border-top:1px solid rgba(0,0,0,.1);margin:8px 0;padding-top:8px;padding-bottom:8px;font-size:14px;border-bottom:1px solid rgba(0,0,0,.1);}
	.item .m-read a{font-size:15px;}
	.item .m-price{font-size:15px;font-weight:500;}
	.item .m-price .price{font-size:16px;}
	.item .m-price i{font-size:14px;}	
}
@media only screen and (min-width:768px) and (max-width:991px){
	.npb{padding:40px 0 0}
	section{padding:60px 0;}
	.item{padding:10px 15px;}
	.item .container{webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
	.item .m-icon{order:1;font-size:4rem;color:var(--tertiary-color);flex:0 0 40%}
	.item .m-name{order:2;flex:0 0 60%;display:flex;justify-content:center;align-content:space-between;align-items:center;flex-direction:column;}
	.item .m-name h3{font-size:26px;text-align:center;}
	.item .m-name h3 strong{display:block}
	.item .m-ver{order:4;margin:1rem 0;border-top:1px solid #CCC;border-bottom:1px solid #CCC;}
	.item .m-ver span{font-size:16px;padding:.5rem 0;}
	.item .m-desc{height:130px;margin:1rem 0;font-size:16px;text-align:center;}
	.item .m-read a{font-size:17px;}
	.item .m-price{font-size:17px;font-weight:700;}
	.item .m-price .price{font-size:18px;}
	.item .m-price i{font-size:16px;}
	
	
	
	.documentation .m-icon{margin-bottom:1.4rem;}
	.documentation h3{text-align:center;}
.documentation p{margin-bottom:0; text-align:center;}

	
}
@media only screen and (max-width:767px){
	.logo{width:100%;}
	.logo img{width:50%;}
	.header-title{margin:20px 0 0}
	.header-title h1{font-size:28px;}
	.social{position:absolute;bottom:15px;width:100%;text-align:center;font-size:1.4rem;color:var(--secondary-color);}
	.social a{margin:0 10px;color:var(--secondary-color);}
	section{padding:60px 0;}
	.item{padding:10px 15px;}
	.item .container{webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);border:0;padding:1.25rem;font-weight:400;border-radius:.25rem;}
	.item .m-icon{order:2;font-size:4rem;color:var(--tertiary-color);}
	.item .m-name{order:1}
	.item .m-name h3{font-weight:500;margin:0 0 1rem;font-size:26px;text-align:center;}
	.item .m-name h3 strong{display:none}
	.item .m-ver{order:4;margin:1rem 0;}
	.item .m-ver span{display:block;text-align:center;font-size:16px;}
	.item .m-desc{order:3;height:130px;overflow:hidden;font-size:15px;text-align:center;}
	.item .m-read{order:5;text-align:center;}
	.item .m-read a{font-weight:400;text-transform:uppercase;white-space:normal;word-wrap:break-word;font-size:14px;}
	.item .m-price{order:2;text-align:center;margin:1rem 0!important;}
	.item .m-desc .prices .price{font-weight:500!important;color:var(--tertiary-color);font-size:20px;text-align:right}
	.item .m-desc .prices i{color:var(--tertiary-color);font-size:17px;margin-left:2px}
	.numcounters .numcounter{margin:1.5rem 0;}
	footer .copyright{text-align:center;margin:0 0 5px 0;}
	footer .copyright a{display:block;text-align:center}
	footer .info {text-align:center;}
	
	
	.documentation .m-icon{margin-bottom:1.4rem;}
	.documentation h3{text-align:center;}
.documentation p{margin-bottom:0;text-align:center;}

	
}
@media only screen and (max-width:575px){
	.logo img{width:50%;}
	.header-title h1{margin:0 30px;font-size:20px;padding:0;text-transform:uppercase;}
	.item .m-desc{height:199px;}
	.prices .list-group li{flex-wrap:wrap;position:relative}
	.prices .list-group li a{text-decoration:none;text-decoration: none;
    color:#1d2127;
    width:60%;text-align:left;}
.prices .list-group li span.price{width:40%;position:absolute;right:0}

.prices .list-group li:first-child{padding:0 0 .5rem;}
.prices .list-group li:last-child{
	border-bottom:1px solid rgba(0,0,0,.1);
	padding:.5rem 0;
}
.item .m-name h3 {
    font-size:24px;
 }


.menu-nav{padding:0px} 
 .menu-nav ul li {
    display: inline-block;
    width: calc(100% / 2 - 20px);
    border: 0px solid var(--fifth-color);
    margin: 15px 10px;
    padding: 5px;
}
 .lang-menu-block ul.menu { text-align: left;
}
 .lang-menu-block{top:22px;z-index:2;left:30px;right:none;bottom:none;}
 
}
/* Extra Small Devices, Phones */
@media only screen and (max-width:480px){
	.logo img{width:calc(100% - 130px);}
}
/* Custom, iPhone Retina */
@media only screen and (max-width:320px){
	.logo img{width:calc(100% - 30px);}
	.header-title h1{margin:0 15px;}
	section{padding:60px 0;}
	.item{padding:10px;}
	.item .container{padding:1.25rem .75rem;}
	.item .m-name h3{font-size:21px;}
}
