/* HEADER */
header {
	position: sticky;
	top: 0;
	width: 100%;
	transition: box-shadow .3s ease-out;
	z-index: 1040;
	border-bottom:1px solid var(--cs-body-bg-primary);
}
	.scrolls .header {
		background: var(--cs-body-bg-primary);
		border-bottom:1px solid var(--cs-border-primary);
	}

header .container {
	width: 100%;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 auto;
}
header .header-top{
	height: 7.2rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}
header .row {
	align-items: center;
}
@media (max-width: 991px) {
	header .navigation {
		align-items: center;
		display: none;
	}
}
@media (min-width: 992px) {
	header .navigation {
		align-items: center;
		display: flex;
		gap: var(--cs-gap);
	}
}

/* MENU */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav a {
	position: relative;
	overflow: hidden;
	display: block;
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
@media (max-width: 991px) {
	nav {
		margin-left: 0;
	}
}
@media (min-width: 992px) {
	nav {
		margin-left: auto;
	}
	nav ul {
		display: flex;
		justify-content: center;
		gap: 3rem;
	}
	nav ul li {
		margin: 0;
		padding: 10px 0px;
		display: flex;
	}
	nav a {
		text-align: center;
		line-height: 1.2;
		letter-spacing: .1rem;
		text-transform: uppercase;
		font-size: 1.2rem;
		position: relative;
		white-space: normal;
		z-index: 2;
		cursor: pointer;
		transition: color 0.3s ease, opacity 0.3s ease;
	}
	nav a::after {
		content: attr(aria-label);
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
	}
	nav a > span {
		display: block;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transition: all 0.4s ease;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
	}
	nav a:hover > span,
	nav a.active > span {
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
	}
	nav a:hover::after,
	nav a.active::after {
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
	}
	nav li:focus > a,
	nav .active > a,
	nav a:hover {
	}
	nav i,
	nav span+span {
		display: none;
	}
}
/* secondary nav*/
header .header-bottom{
	height: 5.6rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}
.header-bottom{
	width: 100%;
	background: var(--cs-body-bg-secondary);
}
.header-bottom ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:0;
	margin: 0;
}
.header-bottom ul a{
	text-decoration: none;
	display: flex;
	align-items: center;
	text-align: center;
	line-height: 1.2;
	letter-spacing: .1rem;
	font-size: 1.2rem;
}
.header-bottom ul a i{
	font-size: 1.7rem;
	margin-right: .8rem;
	display: block;
	text-align: center;
}
.header-bottom li:focus > a,
.header-bottom .active > a,
.header-bottom a:hover {

}


/* ICON MENU*/
header aside {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--cs-gap);
	margin-left: auto;
}
.language {
	position: relative;
	transition: color 0.3s ease, opacity 0.3s ease;
}
.language > a{
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.2;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;
	position: relative;
	white-space: normal;
	z-index: 2;
	cursor: pointer;
	transition: color 0.3s ease, opacity 0.3s ease;
}
.language > a i {
	font-size: 2.2rem;
	margin-right: .8rem;
}
@media (max-width: 991px) {}
@media (min-width: 992px) {}
.language > a:after {
	margin-left: 8px;
}
.language > a:hover {
	
}

/* DROPDOWN */
.dropdown-menu {
	right:0 !important;
	left: auto !important;
	top: 100%;
}
.dropdown-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropdown-toggle.show {
}
.dropdown-menu::before {
	content: "";
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid var(--cs-border-primary);
	position: absolute;
	top: -10px;
	right: 10px;
}
.dropdown-menu li a,
.dropdown-menu li > span {
	padding: 8px 16px;
	display: flex;
	align-items: center;
	background: none;
	text-decoration: none;
	font-size: 1.3rem;
	line-height: 1.4;
	height: 35px;
	transition: color 0.2s ease-in-out;
}
.dropdown-menu li.dropdown-item:hover a {
	
}
.dropdown-menu li.active > span {
	background: none;
}
.dropdown-menu li.active > span:before {
	font-family: 'ics';
	content: "\e903";
	background: none;
	margin-right: .8rem;
	font-size: 1.6rem;
	width: 14px;
}
.dropdown-menu li > a:before {
	content: "";
	background: var(--cs-border-primary);
	height: 2px;
	width: 14px;
	margin-right: 8px;
	font-size: 1.6rem;
}

/*MENu MOBILE*/
@media (max-width: 991px) {
	.menu-docs-mobile,
	.menu-mobile {
		display: block
	}
}
@media (min-width: 992px) {
	.menu-docs-mobile,
	.menu-mobile {
		display: none
	}
}
.menu-trigger,
.menu-trigger span {
	transition: all .3s ease-in-out;
	box-sizing: border-box;
}
.menu-trigger {
	display: flex;
	flex-wrap:wrap;
	position: relative;
	width: 38px;
	height: 23px;
	background: none;
	border: none;
	appearance: none;
	cursor: pointer;
	justify-content: end;
	align-content: space-between;
}
.menu-trigger span {
	position: relative;
	width: 100%;
	height: 3px;
	border-radius: 4px;
	transform-origin: left;
}
.menu-trigger:not(.active):hover span:nth-of-type(2) {
	width: 70%;
}
.menu-trigger:not(.active):hover span:nth-of-type(3) {
	width: 35%;
}
.menu-trigger.active span:nth-of-type(1) {
	transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
	transform: translateY(-20px) rotate(45deg);
}


/*THEME SWITCH*/
.theme-text {
	display: none;
}
.dark-mode-toggle {
	position: relative;
	border-radius: 50px;
	display: block;
	width: 44px;
	height: 24px;
	flex-shrink: 0;
	border: 1px solid var(--cs-border-primary);
	transition: border-color .25s;
	background: var(--cs-body-bg-secondary);
}
.toggle-input {
	display: none;
}
.toggle-label {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.toggle-inner {
	width: 19px;
	height: 19px;
	position: absolute;
	top: 1px;
	left: 2px;
	border-radius: 50%;
	transition: transform 0.25s;
	display: flex;
	align-items: center;
	background: var(--cs-body-bg-primary);
}
.dark-mode-toggle:hover{
	
}
.toggle-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.toggle-icon-inner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.toggle-input:checked + .toggle-label .toggle-inner {
	transform: translateX(100%);
}
.toggle-input:checked + .toggle-label .toggle-icon .toggle-icon-inner .icon-sun {
	display: none;
}
.toggle-input:checked + .toggle-label .toggle-icon .toggle-icon-inner .icon-moon {
	display: block;
}
.toggle-label .toggle-icon .toggle-icon-inner .icon-moon {
	display: none;
}

/*MAIN*/
main {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center
}
@media (min-width:992px){
	main {
		min-height: calc(100vh - 133px);
	}
	.documentation main {
		min-height: calc(100vh - 189px);
	}
}
main:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -1;
	width: 100vw;
	height: 95vw;
	background-image: var(--cs-main-bg);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
main p a{
	color: var(--cs-link-tertiary);
}
main p a::after{
	color: var(--cs-link-tertiary);
	font-family: ics;
	font-size: 1.2rem;
	content: "\e96e";
	margin-left: 5px;
	text-decoration: none;
	display: inline-block;
}

main ul,
main ul li{
	margin-bottom: 1.5rem;
}
.common .row >[class^="col-"],
.common-project .row >[class^="col-"] {
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center
}
.common h1 {
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
}
.common-project h1 {
	font-size: 6.4rem;
	line-height: 5rem;
}
.common-project h1 span {
	font-size: 3rem;
	line-height: 3rem;
	font-weight: 400;
}
h2{
	margin-top: 7rem;
}

/*LEAD*/
.lead{
	font-size:1.6rem;
	margin-bottom: 32px;
	text-align: center;
	color: var(--cs-body-color-secondary);
}
.lead-normal{
	margin-bottom: 3rem;
}
p.em{font-style:italic; color: var(--cs-body-color-secondary);}


/*CARDS*/
.cards {
	gap: var(--cs-gap);
	margin-block: 3rem;
}
.cards:last-child {
	margin-bottom: 0rem;
}
.cards a {
	text-decoration: none;
}
.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--cs-border-radius);
	text-align: left;
	flex-wrap: wrap;
	padding: 25px 20px;
	position: relative;
	flex-direction: row;
	background: var(--cs-body-bg-secondary);
	color: var(--cs-body-color-secondary);
}
.card-ver{
	display: block;
	text-align: center;
}
.card::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	content: "";
	border-radius: inherit;
}

.card::before {
	-webkit-mask-image: var(--cs-mask-image);
	mask-image: var(--cs-mask-image);
	border: 1px solid var(--cs-border-primary);
}
.card:hover::before {
	-webkit-mask-image: var(--cs-mask-image);
	mask-image: var(--cs-mask-image);
	border: 1px solid var(--cs-border-secondary);
}
.card:hover {
	color: var(--cs-body-color-secondary);
}
/*Vertical variant*/
.card-ver .card-image {
	text-align: center;
	flex: 0 0 100%;
	margin-bottom: 20px;
}
.card-ver .card-image i {
	font-size: 3.5rem;
}
.card-ver .card-content {
	flex: 1;
}
.card-ver .card-content h3 {
	text-align: center;
}
/* horizontal variant*/
.card-hor .card-image {
	text-align: center;
	flex: 0 0 90px;
	margin-right: 20px;
}
.card-hor .card-image i {
	font-size: 4.5rem;
}
.card-hor .card-content {
	flex: 1;
}
.card-hor .card-content h3 {
	text-align: left;
}

.card-content h3 {
	margin: 0;
	font-size: 1.8rem;
}
.card-content p {
	margin: 10px 0 0;
	font-size: 1.4rem;
	text-align: left
}
.card-content a {
	margin: 15px 0 0;
	text-align: left
}

/*buttons*/
.buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--cs-gap);
	justify-content: center;
	margin-top: 3rem;
}
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 17px 45px;
	border-radius: var(--cs-border-radius-md);
	font-size: 1.6rem;
	text-decoration: none;
	transition: background 0.3s ease, color 0.3s ease;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: 48px;
}
.btn-sm {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 8px 23px;
	border-radius: var(--cs-border-radius-md);
	font-size: 1.4rem;
	text-decoration: none;
	transition: background 0.3s ease, color 0.3s ease;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: 38px;
}
.btn-primary {
	border: 1px solid var(--cs-btn-border-primary);
	font-weight: 300;
	background: var(--cs-btn-bg-primary);
	color: var(--cs-btn-color-primary);
}
.btn-primary:hover {
	background: var(--cs-btn-bg-hover-primary);
}
.btn-secondary {
	border: 1px solid var(--cs-btn-border-secondary);
	background: none;
}
.btn-secondary:hover {
}

.btn i.btn-i-r {
	margin-right: .8rem;
}
.btn i.btn-i-l {
	margin-left: .8rem;
}

/* Footer */
footer {
	padding: 2rem 0;
	background: var(--cs-body-bg-secondary);
}
footer .copyrights {
	color: var(--cs-gray);
	font-size: 1.2rem;
	text-align: center;
}






/* info button*/
.info{
	align-items: center;
	justify-content: center;
	display: flex;
	position: relative;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 2.4rem;
	width: 100%;
}
.info i {
	margin-right: .8rem;
	font-size: 1.5rem;
}

/* Browser */
.browsers figure{
	margin-bottom: 2rem;
}
.browsers figure,
.browsers p{
	text-align: center;
}
.browsers p{
	margin-bottom: 1rem;
}
.browsers img{
	width: 50px;
}
.browsers p i{
	margin-right: .8rem;

}

/*code snipet*/
.code-snippet{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	border-radius: var(--cs-border-radius-md);
	font-size: 1.6rem;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	z-index: 1;
	height: 48px;
	padding: 0 5px;
	background: var(--cs-body-bg-secondary);
	}


.code-snippet .line::before {
	color: var(--cs-body-color-secondary);
    content: "$ ";
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.code-snippet::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	content: "";
	border-radius: inherit;
}

.code-snippet::before {
	-webkit-mask-image: var(--cs-mask-image);
	mask-image: var(--cs-mask-image);
	border: 1px solid var(--cs-border-primary);
}
.code-snippet code{
	padding: 17px 15px;
	display: block;
}
.code-snippet button{
	outline: none;
	border: 0;
	background: none;
	font-size: 18px;
	padding: 10px;
	display: flex;
	width: 40px;
    align-items: center;
	color: var(--cs-body-color-secondary);
}
.code-snippet button:hover{
	outline: none;
	border: 0;
	background: none;
	font-size: 18px;
	display: flex;
    align-items: center;
	color: var(--cs-body-color-primary);
}

.code-snippet button .ics {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.code-snippet button .ics-hide {
    opacity: 0;
    transform: scale(0.8);
}


/* TAble option*/
.table-options{
	margin-top: 4rem;
}
.tr-options-head{
	background: var(--cs-body-bg-secondary);
	color: var(--cs-body-color-secondary);
	
}
.tr-options-head > *{
	font-weight: 400;
}
.tr-options-head,
.tr-options {
	display: grid;
	gap: var(--cs-gap);
	grid-template-rows: auto;
	grid-template-columns: 170px 100px 250px 1fr;
	grid-template-areas:
		"option type default desc";
	width: 100%;
	height: auto;
	align-items: center;
	padding: 16px 25px;
}
.tr-options {
	border-bottom: 1px solid var(--cs-border-primary);
}


#option {
	grid-area: option;
	font-weight: 400
}

#type {
	grid-area: type;
	text-align: center;
}

#default {
	grid-area: default;
	text-align: center;
}

#desc {
	grid-area: desc;
}

#type, #default{
	color: var(--cs-body-color-secondary);
}